body {
  background-color: black;
  color: white;
}

td, th {
  border: 1px solid green;
  padding: 10px;
}

#logo {
  width: 200px;
}

header {
  background-color: dimgrey;
  flex-shrink: 0;
  position: fixed;
  flex-direction: row;
  width: 100%;
  top: 0px;
}

main {
  margin-top: 120px;
}

nav {
  display: flex;
  height: 90px;
}

section, footer {
  margin-top: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
	flex: 1 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
}


span {
  display: flex;
}

span:nth-of-type(1) {
  display: flex;
  justify-self: flex-start;
}

span:nth-of-type(2) {
  display: flex;
  justify-self: flex-end;
}

#family img {
  width: 700px;
}

footer {
  height: 90px;
  background-color: dimgrey;
}

footer {
  flex-shrink: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
